<form class="example-form" [formGroup]="myForm" #f="ngForm" (ngSubmit)="submit(f)">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" [errorStateMatcher]="matcher">
    <mat-error>
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
        <input
          type="text"
          pattern="[0-9]{10}"
          ng2TelInput 
          matInput
          [ng2TelInputOptions]="{initialCountry: 'in'}"
          (ng2TelOutput)="getNumber($event)"
          formControlName="phone"
          [errorStateMatcher]="matcher">
      <mat-error >This is an <strong>invalid</strong> phone number.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" [errorStateMatcher]="matcher">
      <mat-error>
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Membership</mat-label>
        <mat-select formControlName="membership" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let membership of memberships" [value]="membership.name">
            {{membership.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Membership is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button mat-button color="primary" type="submit" [disabled]="myForm.invalid">
      Submit
    </button>
</form>
<button mat-button color="warn" (click)="show_customer()" >Show</button>
